body{
	background-color: #0498ed;
	font-family: 'Ubuntu', sans-serif;
	overflow-y: scroll;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
h1{
	color: #fff;
	text-align: center;
	font-weight: 300;
	margin-bottom: 30px;
}
h1 i{
	font-size: 40px!important;
}
a:hover, a:focus{
	text-decoration: none;
}
.fa-wikipedia-w{
	float: none!important;
}
#viewer-container{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#viewer-container{
	border-bottom: 2px solid #84d6ff;
	padding: 0;
	margin-top: 20%;
	margin-bottom: 40px;
}
#viewer-container i{
	float: right;
	font-size: 20px;
	margin-left: 8px;
	margin-top: 10px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#viewer-container i:hover{
	font-size: 22px;
}
#viewer-container input#search {
    background: transparent;
    border: 0;
    padding: 5px 0;
    color: #fff;
    width: 79%;
    font-size: 20px;
    font-weight: 300;
}
#results{
	margin-top: 20px;
	margin-bottom: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
}
.item{
	color: #717171;
	padding: 5px 20px;
	border-bottom: 1px solid #ececec;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 3px;
}
.item:hover{
	background-color: #fff;
	width: 102%;
	margin-left: -1%;
	padding: 10px 20px;
}
.item p{
	max-width: 700px;
}
#count{
	color: #fff;
}